<IfModule mod_rewrite.c>
  RewriteEngine On

  # redirect to our front web controller (index.php)
  # while protecting files that actually exist (css, js...)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>