.link{
   margin: 10px;
}
.link--highlighted{
    color: red;
    font-weight: bold;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.burger-icon{
    transform: rotate(90deg);
    color: rgb(8, 113, 184);
    font-size: 3rem;
    font-weight: bold;
}
nav{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}