@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$white: #ffffff;
$gray: #cccccc;
$blue: #66a6ff;
$shadow-light: 0px 0px 40px 2px #eeeeee;
$shadow-dark: -8px 8px 56px 8px #cccccc;
